body {
    background-color:#F5F5F5; 
    margin:0; 
    font-family: Inter, HelveticaNeue, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin:0; 
    padding:0;
}

a {
    text-decoration-line:underline;
}
a:link, a:visited {
    color:#F5F5F5;
}
a:focus, a:hover {
    text-decoration-line:none;
}

.content-section {
    width:360px;
    margin:0 auto;
    box-sizing:border-box;
}

.content-section_theme_dark {
    background-color:#131313; color:#F5F5F5;
}

.content-section_theme_bright {
    background-color:#FEE42A; color:#131313;
}


/* 1 HEADER */


.header {
    display:flex; 
    flex-direction:row; 
    align-items:flex-start; 
    padding:24px 20px; 
    justify-content:space-between;
}

.header__logo-image {
    width:78.45px; 
    height:15.43px; 
    flex:none; 
    order:0; 
    flex-grow:0;
}

.header__menu {
    display:flex; 
    flex-direction:column; 
    align-items:flex-start; 
    font-weight:400; 
    font-size:16px; 
    line-height:28px;
}

.header__menu-list {
    list-style-type:none;
}

.header__menu-item {
    flex:none;
}


/* 2 COVER */


.cover {
    padding:7px 0 30px 20px;
}

.cover__title {
    padding-bottom:5px; 
    background-image:url("../images/cover.svg"); 
    background-repeat:no-repeat; 
    background-position: left bottom; 
}

.accent-span {
    display:block; 
    color: #FFFFFF; 
    font-family: "EB Garamond", serif; 
    font-weight:400; 
    font-size:72px; 
    line-height:100%;
}

.text-center {
    padding-left:46px;
}

.text-right {
    text-align:right; 
    padding-right:24px;
}


/* 3 INTRO */


.intro {
    padding:0 20px 38px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.intro__heading {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    order: 0;
}

.intro__title {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 120%; 
    color: #CCCCCC; 
    order: 0;
}

.intro__date {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 120%; 
    color: #CCCCCC; 
    order: 1; 
    white-space: nowrap;
}

.intro__main-text1, .intro__main-text2 {
    margin-top:24px; 
    font-family: Inter, sans-serif; 
    font-style:normal; 
    font-weight:400; 
    font-size:16px; 
    line-height:22px;
}

.intro__main-text1 {
    order: 1;
}

.intro__main-text2 {
    order: 2;
}


/* 4 REASONS */


/* 4.1 - h2 */

.reasons {
    padding:40px 20px; 
    display: flex; 
    flex-direction: column;
}

.content-section__subtitle {
    order: 0;
}

.accent-span_reasons, .text-right_reasons {
    display:block; 
    font-family: 'EB Garamond', serif; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 28px; 
    line-height: 113%;
}

.text-right_reasons {
    text-align: right;
}

/* 4.2 - p */

.content-section__introduction {
    font-family:Inter, sans-serif; 
    font-style:normal; 
    font-weight:400; 
    font-size:20px; 
    line-height:27px; 
    order:1; 
    margin:32px 0 16px;
}

/* 4.3 - ul */

.content-section__list {
    display:flex; 
    flex-direction:column; 
    order:2; 
    list-style-position:inside;
}

.content-section__list-item {
    font-family:Inter, sans-serif; 
    font-weight:400; 
    font-size:16px; 
    line-height:22px; 
    margin-top:16px;
}

.content-section__list-accent {
    font-weight:700;
}


/* 5 HOW-TO */


/* 5.1 - h2 */

.how-to {
    padding:40px 20px 60px; 
    display: flex; 
    flex-direction: column;
}

/* 5.2 - p */

.content-section__introduction2 {
    font-family:Inter, sans-serif; 
    font-style:normal; 
    font-weight:400; 
    font-size:20px; 
    line-height:27px; 
    order:1; 
    margin:32px 0 0;
}

/* 5.3 - ul */

.cards-list {
    display:flex; 
    flex-direction:column; 
    order:2; 
    list-style-type:none;
}

.card {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    background: #343434; 
    border-radius: 30px; 
    margin-top:32px;
}

.card__author {
    display: flex; 
    flex-direction: column;
}

.card__author-photo img {
    width: 100px; 
    height: 100px; 
    border-radius: 50px;
}

.card__author-name {
    margin:8px 0; 
    font-family:Inter, sans serif; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 132%; 
    color: #F5F5F5;}

.card__content {
    display: flex; 
    flex-direction: column;
}

.card__title {
    font-family: 'EB Garamond', serif; 
    font-weight: 500; 
    font-size: 22px; 
    line-height: 132%; 
    margin: 0 0 8px; 
    color: #F5F5F5;
}

.card__text {
    font-family:Inter, sans-serif; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 135%; 
    color: #F5F5F5;
}

.card_text-only {
    background-color: #FEE42A;
}

.card_text-only .card__title, .card_text-only .card__text {
    color: #131313;
}


/* 6 FOOTER */

.footer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    border-top: 1px solid #FEE42A;
}

.footer__copy {
    font-family: Inter, sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 135%; 
    color: #F5F5F5;
}

.footer__links {
    list-style-type:none; 
    display: flex; 
    flex-direction: row;
}

.footer__links li {
    font-family: 'Inter', sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 125%; 
    color: #F5F5F5; 
    margin-left:16px;
}

.footer__links li a {
    text-decoration-line:none;
}

.footer__links li a:hover {
    text-decoration-line:underline;
}
